body{
  display: flex;
  flex-direction: column; 

  margin-left: 1%;
  margin-right: 1%;  
  margin: auto;
}

.button{  
  text-align: center;
}

.canvas{   
  text-align: center;
  background-color: skyblue;
}